[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-qf"]
	path = .vim/pack/plugins/start/vim-qf
	url = git@github.com:romainl/vim-qf.git
[submodule ".vim/pack/plugins/start/vim-gutentags"]
	path = .vim/pack/plugins/start/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/plugins/start/vim-cool"]
	path = .vim/pack/plugins/start/vim-cool
	url = git@github.com:romainl/vim-cool.git
[submodule ".vim/pack/plugins/start/vim-sneak"]
	path = .vim/pack/plugins/start/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule ".vim/pack/plugins/start/augment.vim"]
	path = .vim/pack/plugins/start/augment.vim
	url = git@github.com:augmentcode/augment.vim.git
