[user]
  name = Bayard Neville
[core]
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
  interactive = auto
[pull]
  ff = only
[merge]
  tool = vimdiff
[diff]
  compactionHeuristic = 1
[pager]
  log = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
  diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
[alias]
  # Status
  s = status -sb
  l = log
  sh = show --stat
  shd = show
  d = diff
  db = !git diff $(git merge-base --fork-point master)
  dh = diff HEAD
  ds = diff --staged

  # Branch
  b = branch
  o = checkout
  ob = checkout -b

  # Staging
  a = add
  as = !git add -A && git s
  r = reset

  # Commit
  c = commit
  cm = commit -m
  ca = commit --amend
  can = commit --amend --no-edit

  # Push
  pf = push --force-with-lease
  pn = !git push -u origin HEAD

  # Cleanup
  cleanup = !git checkout master || git checkout main && git pull && git remote prune origin && git prune && git gc && git b -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D && git branch --list

  # Submodule
  smu = submodule update --init --recursive

  # Misc
  h = help
[include]
  path = .lgitconfig
